.assignments {
  &.show {
    .row {
      margin-bottom: 0;
    }

    .wrapper > .container {
      @media (min-width: $container-md) {
        padding-left: $container-md / 12;
      }

      @media (min-width: $container-sm) {
        padding-left: $container-sm / 12;
      }
    }
  }
}

body {
  &.pdf {
    .container {
      padding-left: $container-sm / 12;
    }

    .col-xs-6 {
      .row {
        margin-bottom: 0;
      }
    }
  }
}

.pdf-logo-image {
  height: 30px;
  width: 75px;

  img {
    height: auto;
    width: 100%;
  }
}

.pdf-header {
  font-size: $font-size-small;
}

.col-input {
  border-bottom: 1px dotted $gray-light;
  height: $line-height-computed;
  margin-bottom: 10px;
}

.row-box,
.row-bottom,
.signature-title-row,
.signature-row {
  @extend .row;
}

.row-box {
  border: 1px solid $black;
  margin-bottom: 0;
  padding-top: $padding-small-horizontal;
}

.row-bottom {
  margin-top: 10px;
  padding-top: $padding-small-horizontal;

  .col-xs-12 {
    span {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.signature-title-row {
  span {
    display: block;
    font-style: italic;
  }
}

.signature-row {
  .col-xs-4 {
    border-bottom: 1px $black dotted;
    margin: 45px 10px 0 10px;
    width: 30%;
  }
}
