.reminder-mailings {
  #reminder_mailing_body {
    min-height: 30vh;
  }

  .mailing-body-preview {
    background-color: $gray-lighter;
    border: solid 1px $gray-lighter;
    display: inline-block;
    font-family: monospace;
    font-weight: 600;
    max-width: 100%;
    padding: 8px 15px 5px 10px;
  }
}
