h1
  = t_model
  = ": #{@performance_report.title}" if @performance_report.title.present?

- if @performance_report.comment?
  h3= t_attr(:comment)
  p= @performance_report.comment

- if @performance_report.extern || @performance_report.scope.present?
  h3= t('.selection_criteria')
  - if @performance_report.extern
    p
      strong= "#{t_attr(:extern)}: "
      = t(@performance_report.extern)
  - if @performance_report.scope?
    p
      strong= "#{t_attr(:scope)}: "
      = @performance_report.scope

hr
- if @performance_report.year?
  h2= t('.title_year', year: @performance_report.year)
- else
  h2= t('.title_range', start: l(@performance_report.period_start, format: :default), end: l(@performance_report.period_end, format: :default))

h3 Freiwillige
- @report_content['volunteers'].each do |category_key, category|
  h4= t(".volunteers.categories.#{category_key}")

  table.table
    tbody
  - category.each do |numbers_key, number|
        tr
          td= t(".volunteers.numbers.#{numbers_key}")
          td= number
/ h4 Alle
/ table.table
/   tbody
/     tr
/       td Total
/       td= @report_content['volunteers']['all']['total']
/     tr
/       td Aktive Tandem
/       td= @report_content['volunteers']['all']['total']
/     tr
/       td= t('.volunteers.resigned')
/       td
/     tr.active
/       td= t('.volunteers.active_total')
/       td= @report_content['global']['volunteers']['active']

/     tr
/       td= t('.clients.total')
/       td= @report_content['global']['clients']['total']
/     tr
/       td= t('.clients.new')
/       td= @report_content['global']['clients']['new']
/     tr
/       td= t('.clients.resigned')
/       td
/     tr.active
/       td= t('.clients.active_total')
/       td= @report_content['global']['clients']['active']


/ h3= t_attr(:zuerich)
/ table.table
/   tbody
/     tr
/       td= t('.volunteers.total')
/       td= @report_content['zuerich']['volunteers']['total']
/     tr
/       td= t('.volunteers.new')
/       td= @report_content['zuerich']['volunteers']['new']
/     tr
/       td= t('.volunteers.resigned')
/       td
/     tr.active
/       td= t('.volunteers.active_total')
/       td= @report_content['zuerich']['volunteers']['active']

/     tr
/       td= t('.clients.total')
/       td= @report_content['zuerich']['clients']['total']
/     tr
/       td= t('.clients.new')
/       td= @report_content['zuerich']['clients']['new']
/     tr
/       td= t('.clients.resigned')
/       td
/     tr.active
/       td= t('.clients.active_total')
/       td= @report_content['zuerich']['clients']['active']

/     tr
/       td= t('.zh_assignments.total')
/       td= @report_content['zuerich']['assignments']['total']
/     tr
/       td= t('.zh_assignments.new')
/       td= @report_content['zuerich']['assignments']['new']
/     tr
/       td= t('.zh_assignments.resigned')
/       td= @report_content['zuerich']['assignments']['ended']
/     tr.active
/       td= t('.assignments.active_total')
/       td= @report_content['zuerich']['assignments']['active']

/ h3= t('group_offers', count: 2)
/ table.table
/   tbody
/     tr
/       td= t('.groups.total')
/       td= @report_content['group_offers']['total']
/     tr
/       td= t('.groups.new')
/       td= @report_content['group_offers']['new']
/     tr
/       td= t('.groups.resigned')
/       td= @report_content['group_offers']['ended']
/     tr.active
/       td= t('.groups.active_total')
/       td= @report_content['group_offers']['active']

hr

= form_navigation_btn :edit
= form_navigation_btn :back
