.row,
.simple_form {
  margin-bottom: $padding-large-horizontal;
}

.dl-horizontal dt {
    text-align: left;
    font-weight: normal;
}

.filters {
  .btn-group {
    margin-right:  $padding-large-horizontal;
  }
}
.section-navigation {
  margin-bottom: 0;
  margin-top: 0;

  hr, ul {
    margin: 5px 0;
  }
}

.row {
  margin-bottom: 10px;
}

.index-action-cell {
  span {
    display: block;
    margin-top: 5px;
  }
}

.language-skill-index span {
  display: block;
  margin-bottom: 3px;
}


#email_template_body {
  font-family: monospace;
  min-height: 200px;
}
