.row,
.simple_form {
  margin-bottom: $padding-large-horizontal;
}

.row {
  margin-bottom: 10px;
}

.dl-horizontal {
  dt {
    font-weight: normal;
    text-align: left;
  }
}

.filters {
  .btn-group {
    margin-right: $padding-large-horizontal;
  }
}

.section-navigation {
  margin-bottom: 0;
  margin-top: 0;

  hr,
  ul {
    margin: 5px 0;
  }

  .section-nav-ul {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 4px;

    li {
      flex: 0 0 auto;
      margin-right: 5px;
    }
  }
}

.index-action-cell {
  span,
  a {
    display: block;
    margin-top: 5px;

    &.whole-text {
      color: $link-color;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(n + 2) {
      margin-top: 2px;
    }
  }
}

.index-action-link {
  display: block;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(n + 2) {
    margin-top: 2px;
  }
}

.modal-header-sm {
  padding: 7px 15px;
}

.modal-footer-sm {
  padding: 7px 15px;
}

.language-skill-index {
  span {
    display: block;
    margin-bottom: 3px;
  }
}

.email-body-textarea {
  font-family: monospace;
  min-height: 200px;
}

#navbar {
  .main-nav {
    li {
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .dropdown-toggle {
    align-items: center;
    display: flex;
    padding: 4px 0 2px 5px;

    .user-account {
      display: inline-block;
      flex: 0 0 auto;

      span {
        display: block;

        &:last-child {
          font-size: 10px;
        }
      }
    }

    .caret {
      flex: 0 0 auto;
      margin: 0 4px 0 0;
    }
  }
}

.btn-section-active {
  background-color: lighten($brand-success, 25%);
  border-color: lighten($gray-base, 80%);
  color: $dark;
}

// # TODO remove when button gets the change status functionality
td.button-acceptance a,
li.button-acceptance a {
  pointer-events: none;
}

.btn-acceptance-undecided {
  @extend .btn-success;
}

.btn-acceptance-invited {
  @extend .btn-warning;
}

.btn-acceptance-accepted {
  @extend .btn-danger;
}

.btn-acceptance-rejected {
  @extend .btn-info;
}

.btn-acceptance-resigned {
  @extend .btn;
  background-color: lighten($gray-base, 80%);
  color: $white;
}

.bg-undecided {
  @extend .bg-success;
}

.bg-invited {
  @extend .bg-warning;
}

.bg-accepted {
  @extend .bg-danger;
}

.bg-rejected {
  @extend .bg-info;
}

.bg-resigned {
  background-color: lighten($gray-base, 80%);
}

.log-table {
  max-height: 150px;
  overflow-y: auto;
}
