.row,
.simple_form {
  margin-bottom: $padding-large-horizontal;
}

.dl-horizontal {
  dt {
    font-weight: normal;
    text-align: left;
  }
}

.filters {
  .btn-group {
    margin-right: $padding-large-horizontal;
  }
}

.section-navigation {
  margin-bottom: 0;
  margin-top: 0;

  hr,
  ul {
    margin: 5px 0;
  }

  .section-nav-ul {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 4px;

    li {
      flex: 0 0 auto;
      margin-right: 5px;
    }
  }
}

.row {
  margin-bottom: 10px;
}

.index-action-cell {
  span {
    display: block;
    margin-top: 5px;
  }
}

.language-skill-index {
  span {
    display: block;
    margin-bottom: 3px;
  }
}

#email_template_body {
  font-family: monospace;
  min-height: 200px;
}
