.conditional-field,
.conditional-group {
  display: none;
}

fieldset {
  margin-top: 10px;

  legend {
    border-bottom: 1px solid $legend-border-color;
    font-size: 20px;
  }
}

.field-wrapper-inline {
  display: inline-block;
  margin: 5px;
}

.checkbox {
  margin-top: 0;
}

.checkbox + .checkbox-line {
  margin-top: 0;
}

textarea.double-height {
  min-height: 100px;
}
