.navbar-toggle {
  border-color: $black;
}

.icon-bar {
  background-color: $black;
}

.navbar-brand {
  height: $navbar-height;

  .brand-image {
    height: 100%;
  }
}

#menu {
  .dropdown-toggle {
    span {
      display: block;
    }
  }
}
