.pdf-logo-image {
  height: 30px;
  width: 75px;

  img {
    height: auto;
    width: 100%;
  }
}

.pdf-header {
  font-size: $font-size-small;
}

.col-input {
  border-bottom: 1px solid $gray-light;
  height: $line-height-computed;
}

.row {
  margin-bottom: 10px;
}

.row-box {
  border: 1px solid $black;
  margin-bottom: 0;
  padding-top: $padding-small-horizontal;
}

.row-bottom {
  margin-bottom: 0;
  padding-top: $padding-small-horizontal;
}
