body {
  &.clients,
  &.assignments {
    @media print {
      margin: 0;
      padding: 0;
      size: A4 landscape;
      width: $a4-long-side;

      .container,
      .wrapper {
        margin: 0;
        padding: 0;
        width: $a4-long-side;
      }

      a {
        &[href] {
          &::after {
            content: '';
          }
        }
      }

      .truncate-th {
        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 55px;
        }
      }

      .relatives-cell {
        span {
          display: block;
          width: 80px;
        }
      }

      table {
        max-width: $a4-long-side;

        .no-wrap {
          white-space: nowrap;
        }
      }
    }
  }
}
