.table {
  .limit-width {
    width: 5%;
  }

  .limit-width-10 {
    width: 10%;
  }

  .limit-width-15 {
    width: 15%;
  }

  .limit-width-40 {
    width: 40%;
  }
}

.table-scrollable {
  overflow-y: auto;
}

.assignments.find-client .table-scrollable {
  max-height: 300px;
}

.reminder-mailings .table-scrollable {
  max-height: 500px;
}

.billing-expenses.new .table-scrollable {
  max-height: 500px;
}

.table-multicolumn {
  display: flex;
  flex-wrap: wrap;

  & > table:first-child {
    margin-bottom: 0;
  }

  @media (min-width: $container-md) {
    flex-wrap: nowrap;

    & > table:not(:first-child) {
      margin-left: 10px;
    }
  }
}
