.inplace_field {
  position: relative;

  .field_label {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .field_input {
    left: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
  }

  &.editing {
    .field_label {
      visibility: visible;
      z-index: 1;
    }

    .field_input {
      visibility: visible;
      z-index: 2;
    }
  }
}
