@import 'bootstrap_overwrites';
@import 'bootstrap/variables';

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  flex: 1 0 auto;
}

.navbar-toggle {
  border-color: $black;
}

.icon-bar {
  background-color: $black;
}

.brand-image {
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  align-self: center;
  background-color: $white;
}
