
.m-b-30 {
  margin-bottom: 30px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

$a4-short-side: 210mm;
$a4-long-side: 297mm;

@mixin a4 {
  background: white;
  height: $a4-long-side;
  margin: 0;
  padding: 0;
  size: a4 portrait;
  width: $a4-short-side;
}

