@import 'utility';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/variables';
@import 'layout/content';
@import 'bootstrap_overwrites';

$cert-font-family: 'Arial', sans-serif;
$cert-font-weight: 500;
$cert-font-size: 13px;

.row {
  margin-bottom: 15px;
}

html,
.wrapper,
.container {
  display: block;
  margin: 0;
  padding: 0;
  width: $a4-short-side;
}

body {
  @media print {
    @include a4;

    display: block;

    .wrapper,
    .container {
      @include a4;
    }
  }

  @include a4;

  display: block;

  .wrapper,
  .container {
    @include a4;
  }

  .certificate,
  .text-body {
    font-family: $cert-font-family;
    font-size: $cert-font-size;
    font-weight: $cert-font-weight;
    line-height: 1.5;
  }

  .text-body {
    margin-top: 20px;
  }

  .kind-list {
    display: inline-block;
    height: $cert-font-size * 1.5;
    overflow: visible;
    width: 50%;

    input {
      margin-right: 5px;
    }
  }

  .logo-image {
    margin-bottom: 5.1cm;

    img {
      height: .8cm;
    }
  }

  .certificate {
    @include a4;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 2cm;
    padding-left: 2cm;
    padding-right: 4cm;
    padding-top: 2.6cm;

    .text-content {
      flex: 1 0 auto;
    }

    .signature {
      display: flex;
      flex: 0 1 auto;
      width: 100%;
    }
  }
}
