@import 'utility';
@import 'bootstrap-sprockets';
@import 'bootstrap_custom';
@import 'layout/content';
$cert-font-family: 'Arial', sans-serif;
$cert-font-weight: 500;
$cert-font-size: 13px;

.row {
  margin-bottom: 15px;
}

html,
.wrapper,
.container {
  display: block;
  margin: 0;
  padding: 0;
  width: $a4-short-side;
}

body {
  @media print {
    @include a4;
    display: block;

    .wrapper,
    .container {
      @include a4;
    }
  }

  @include a4;
  display: block;

  .wrapper,
  .container {
    @include a4;
  }

  .certificate,
  .text-body {
    font-family: $cert-font-family;
    font-size: $cert-font-size;
    font-weight: $cert-font-weight;
    line-height: 1.5;
  }

  .text-body {
    margin-top: 20px;
  }

  .kind-list {
    display: inline-block;
    height: $cert-font-size * 1.5;
    overflow: visible;
    width: 50%;

    svg {
      display: inline-block;
      float: none;
      height: $cert-font-size;
      margin: 0 5px 0 0;
      padding: 0;
      width: $cert-font-size;
    }
  }

  .logo-image {
    margin-bottom: 5.1cm;

    img {
      height: .8cm;
    }
  }

  .certificate {
    @include a4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 2cm + ($cert-font-size * 1.5);
    padding-left: 2cm;
    padding-right: 4cm;
    padding-top: 2.6cm;

    .text-content {
      flex: 1 0 auto;
    }

    .signature {
      bottom: 2cm;
      display: flex;
      height: $cert-font-size * 1.5;
      left: 0;
      padding-left: 2cm;
      padding-right: 4cm;
      position: absolute;
      width: $a4-short-side;
    }
  }
}
