nav.navbar.section-navigation.hidden-print
  ul.section-nav-ul.list-unstyled
    / add filter with datepicker here
    li= button_link t('clear_filters'), new_probation_period_reminder_mailings_path, dimension: :sm
